.navbar {
    font-family: 'Open Sans', sans-serif;
    background-color: transparent !important;
  }
  .navbar-nav li a {
    color: #333;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
  }
  .navbar-nav li a:hover {
    color: #555;
  }